################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoanSystem/bin/Debug/net6.0
/LoanSystem/obj
/LoanSystemTests/bin/Debug/net6.0
/LoanSystemTests/obj
