@using LoanSystem.Models
@model List<LoanType>


<table class="table " id="dataTable">
    <thead style="background-color: floralwhite;">
        <tr>
                <th>LoanTypeId</th>
                <th>Loan Name</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (LoanType loanType in Model)
            {
                <tr>
                    <td>@loanType.LoanTypeId</td>
                    <td>@loanType.LoanName</td>
                    <td>@loanType.Duration</td>
                    <td>
                        <a href="/Home/Edit/@loanType.LoanTypeId" class="btn btn-primary">Edit</a>
                        <button class="btn btn-danger" onclick="Confirm(@loanType.LoanTypeId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    <tfoot>
        <tr>
            <td> </td>
        </tr>
    </tfoot>
</table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
}
