@using LoanSystem.Models
@model LoanDetails

@if (Model == null)
{
    <div class="text-primary" align="center"><h2>Pay Loan</h2> </div>
}
else
{
    <div class="text-warning" align="center"><h2>Update PayedLoan</h2></div>
}
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

@using (Html.BeginForm(FormMethod.Post, new { id = "PayLoan" }))
{
     <div class="container border rounded bg-light text-dark w-50 pt-2">
        @Html.HiddenFor(x=>x.LoanDetailsId, new{@class="form-control"})
       
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="form-label required">LoanId:</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(x=>x.LoanId, new {@onChange="getDetails()", @class="form-control", required = "required" })
            </div>
            <div id="details" style="background:red;display:none;height:100px">
                <div><label class="form-label">Paid Amount:</label><label id="paidAmount" class="form-label"></label></div>
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <label class="form-label required">Paid Amount:</label>
            </div>
            <div class="col-4">
                @Html.TextBoxFor(x=>x.PaidAmount, new {@class="form-control", required = "required" , maxlength = "10"})
            </div>
        </div>
        <div class="mb-3 row justify-content-center">
            <div class="col-3">
                <input type="submit" class="btn btn-outline-success" value="Submit" />
            </div>
        </div>
    </div>
}


<table id="loanList" class="table" style="display:none">
    <thead style="background-color:lightcyan;">
        <tr>
            <th class="text-center">LoanId</th>
            <th class ="text-center">Loan Name</th>
            <th class="text-center">Customer Name</th>
            <th class="text-center">Date Of Sanction</th>
            <th class="text-center">Loan Amount</th>
            <th class="text-center">Paid Amount</th>
            <th class="text-center">Balance Amount</th>
            <th class="text-center">Status</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>